body{
    display: flex;
    background-image: url(IMG.jpg);
    justify-content: center;
   /* height: 100vh;*/
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}
#show{
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 15%;
    background-color: aqua;
    width: 42%;
    padding: 30px 20px ;
    height: auto;
    background: rgba(255, 255, 255, 0.1); /* optional light tint */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

p{
    color: rgba(147, 143, 143);
}

